body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    135deg,
    #0f172a,
    #1e293b,
    #2563eb
  );
}

.login-card {
  width: 380px;
  padding: 40px;
  border-radius: 20px;
  backdrop-filter: blur(15px);
  background: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.2);
  box-shadow: 0px 10px 40px rgba(0,0,0,0.4);
  color: white;
  animation: fadeIn 1s ease;
}

.login-card h1 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 32px;
}

.login-card p {
  text-align: center;
  margin-bottom: 30px;
  color: #cbd5e1;
}

.login-card form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-card input {
  padding: 14px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 16px;
}

.login-card button {
  padding: 14px;
  border: none;
  border-radius: 10px;
  background: #2563eb;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.login-card button:hover {
  background: #1d4ed8;
  transform: scale(1.03);
}

.register-section {
  margin-top: 25px;
  text-align: center;
}

.register-btn {
  margin-top: 10px;
  width: 100%;
  background: #10b981 !important;
}

.register-btn:hover {
  background: #059669 !important;
}

@keyframes fadeIn {

  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}